# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# macOS
.DS_Store

# IDE files
.idea/
.vscode/

# Database files
*.sqlite
*.db
